<div class="container-fluid">
  <div id="map"></div>
</div>
<div>
  <a class='dropdown-button btn' href='#' data-activates='base_map_menu'>Base Map</a>
  <ul id='base_map_menu' class='dropdown-content'>
    <li><a (click)="setBaseMap(2)" >Satelite</a></li>
    <li><a (click)="setBaseMap(1)" >Hybrid</a></li>
    <li><a (click)="setBaseMap(0)">Open</a></li>
  </ul>
</div>
<div class="fixed-action-btn vertical  click-to-toggle">
  <a class="btn-floating btn-large z-depth-3 teal">
    <i class="material-icons">menu</i>
  </a>
  <ul>
    <li><a  (click)="zoomIn()" class="btn-floating z-depth-3 teal darken-1"><i class="material-icons">zoom_in</i></a></li>
    <li><a  (click)="zoomOut()" class="btn-floating z-depth-3 teal darken-1"><i class="material-icons">zoom_out</i></a></li>
    <li><a  (click)="zoomtoGPS()" class="btn-floating z-depth-3 teal darken-1"><i class="material-icons">my_location</i></a></li>
  </ul>

</div>