#map {
    width: 100vw;
    height: 100vh;
  }
  body{
  margin :0 0 0 0 ;
  }
  .ol-attribution.ol-unselectable.ol-control
  {
  display : none;
  }
  .ol-zoom.ol-unselectable.ol-control
  {
  display : none;
  }
 .dropdown-button.btn{
    position: fixed;
    z-index: 10;
    bottom: 50px;
    left: 10px;
    font-size: x-small;
    padding: 5px 20px;
    line-height: normal;
    height: auto;
    background-color: #009688;
}
#toolbar_menu {
top:10px;
}
#print_menu {
top:75px;
}
#zoom_to_layer {
    top:140px;
    }
#map_menu {
top:205px;
}
.fixed-action-btn {
    right: 10px;
}

 